<div class="c_o">
    <p id="para2"> 
        STAY SAME AND<br> LOVE THE DOSA
    </p><br>
    <h2>Overview</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="customDiv">
                    <h3>Address:</h3> H/125/1, H/125/2, Elliot, 6th Avenue, Besant Nagar, Chennai, Tamil Nadu 600090
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="customDiv">
                    <h3>Contact:</h3>8489032032<br>shelbysdosa@gmail.com
                </div>
            </div>
            <div class="col-md-4">
                <div class="customDiv">
                    <h3>Restaurant timings:</h3>open on all days<br>9am - 10pm
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="customDiv">
                    <h3>Location:</h3><a href="https://www.google.com/maps/search/H%2F125%2F1,+H%2F125%2F2,+Elliot,+6th+Avenue,+Besant+Nagar,+Chennai,+Tamil+Nadu+600090/@12.9986059,
                    80.2686375,17z/data=!3m1!4b1">click here </a>for google map loaction<br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="customDiv">
                    <h3>Social media:</h3>Facebook: shelbysdosa<br>Instagram: shelbysdosa
                </div>
            </div>
            <div class="col-md-4">
                <div class="customDiv">
                    <h3>Non-Veg</h3>We serve both Veg and Non-veg!
                </div>
            </div>
        </div>
    </div>
    <br>
    <h2>photos</h2><br>
        <div class="row">
            <img src="../../assets/mukhome1.jpg" alt="">
            <img src="../../assets/home1.jpg" alt="">
            <img src="../../assets/home.jpg" alt="">
            <img src= "../../assets/mukhome.jpg"alt="">
        </div>
  </div> 
  
