<div class="page">
    <h3>We value your feedback as a step to improve ourself </h3>
    <br>
    <div class="b">
    <button class="btn btn-primary btn-lg ">Post a review</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary btn-lg ">Rate us</button>
    </div>
    <br><br><br>
    <h3>REVIEWS:</h3><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="review">
                    <h4>Harish:</h4><br>
                    First time in (RN) and YOU have to go! It’s the cutest little spot with amazing food. The Dosa's is to die for. IT WAS FIRE!! The service we received was so amazing and we will definitely be back again. They made us feel welcomed and gave us an amazing experience.
                </div>
            </div>
            <div class="col-md-6">
                <div class="review">
                    <h4>Anbu</h4><br>
                    Do yourself a favor and visit this lovely restaurant in Chennai. The service is unmatched. The staff truly cares about your experience. The food is absolutely amazing – everything we tasted melted in other mouths. Absolutely the best meal we had while in Chennai. Highly recommend!
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <div class="review">
                    <h4>Vimala</h4><br>
                    Excellent food. Menu is extensive and seasonal to a particularly high standard. Definitely fine dining. Definitely worth the price and they do different deals on different nights so it’s worth checking them out before you book. Highly recommended.
                </div>
            </div>
            <div class="col-md-6">
                <div class="review">
                    <h4>Ajithkumar</h4>
                    <br>This spot gives extraordinary service and yummy meals. One of my favourite restaurants around town. The meals served rapidly and the rates were reasonable. Highly recommended.
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <div class="review">
                    <h4>Shreya</h4>
                    <br>Excellent, unassuming and wonderful find. Great variety and fine value tasting menu. Exciting food with high quality presentation, service and inventiveness. A highlight of Besent Nagar. Book to avoid disappointment it’s really worth it.
                </div>
            </div>
            <div class="col-md-6">
                <div class="review">
                    <h4>Shakeel basha</h4>
                    <br>Phenomenal experience. Top notch food, atmosphere, and wait staff. Have been here multiple times, and every time is an amazing experience all around. I always take my out of town guests here, as the food is always superb. Definitely a lifetime customer!
                </div>
            </div>
        </div>
    </div>
    </div>
    
    