<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-10">
            <div class="customDiv">
                <form action='table.php' method='POST' ><p id="para1">
                    Please enter the following details for your table reservation:</p>
                    <p id="para2">
                    Name:<br>
                    <input type="text" name='Name'>
                    <br><br>Contact number:<br>
                    <input type="text" name='contact'><br><br>
                    Number people:<br>
                    <input type="number" min=1 max=30 name='Number'><br><br>
                    Date of booking:
                    <input type="date" name='Date'><br><br>
                    Time of booking:
                    <input type="time" name='time'><br>
                    <small>please select a time from 2pm to 11pm</small></p>
                    <input type="submit" value="Confirm" class="btn btn-success btn-lg btn-block " >
                </form>
                
            </div>
        </div>
        <div class="col-md-5 col-sm-2">
            <div class="customDiv"><p id="para5"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
            </div>
        </div>
    </div>
</div>